* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  border: 1px solid black;
  background-color: #2f2f2f;
  display: flex;
  width: 400px;
  height: 500px;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: .4rem;
}

.display {
  min-width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  /* background-color: lightgrey; */
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  border-radius: .4rem;
}

input {
  border: 2px solid black;
  height: 70%;
  width: 90%;
  background-color: lightgoldenrodyellow;
  border-radius: .4rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: -60px;
  padding-bottom: 10px;
}

button {
  width: 88px;
  height: 75px;
  cursor: pointer;
  margin: -5px 1px;
  border-radius: .4rem;
  border: 1px solid black;
  font-size: 25px;
}

.zero {
  width: 178px;
}

.grey {
  background-color: lightgray;
}

.grey:active {
  background-color: white;
}

.orange {
  background-color: #ed7014;
  color: white;
}

.orange:active {
  background-color: #fcae1e;
}

.dark-grey {
  background-color: gray;
  color: white;
}

.dark-grey:active {
  background-color: darkgrey;
}